#about {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    figure,
    .about-content {
        width: 50%;
        height: 100%;
    }

    figure {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1.3;
            box-shadow: 2px 0px 9px var(--clr-80);
        }
    }

    .about-content {
        padding: 2.6rem;

        .title {
            margin-bottom: var(--space-between-element);
            h2 {
                color: var(--clr-60);
            }
        }

        .description {
            
            .paragrahp {
                opacity: 0;
                transform: translateX(45rem);
                animation: 0.6s forwards;
                margin-bottom: var(--space-between-element);
                color: var(--clr-30);
            }
            
            .paragrahp:nth-child(1) {
                animation-delay: 0s;
            }
            .paragrahp:nth-child(2) {
                animation-delay: 0.2s;
            }
            .paragrahp:nth-child(1) {
                animation-delay: 0.4s;
            }
        }
    }
}

@keyframes showText {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    #about {
        height: 100%;
        flex-direction: column;
        justify-content: space-between;

        figure,
        .about-content {
            width: 100%;
        }

        .about-content {
            padding: var(--space-between-element);
        }
    }
}