:root {
    --opacity: 0.2;
    --opacity-middle: 0.2;
    --opacity-off: 0;
}
#about {
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    font-family: var(--font-family);

    figure,
    .about-content {
        width: 50%;
        height: 100%;
    }

    figure {

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: var(--shadow-00);
        }
        img:hover {
            --opacity: 0.2;
            cursor: pointer;
        }
    }

    .about-content {
        position: relative;
        padding: 0 2rem;

        .title {
            position: absolute;
            height: 100%;

            h2 {
                color: var(--clr-60);
                font-size: 5.5rem;
                opacity: var(--opacity);
                transition: opacity 1s ease;
            }
            button {
                position: absolute;
                top: 0px;
                left: -18%;
                cursor: pointer;
                padding: 0.5rem 1rem;
                margin-top: 1rem;
                color: var(--clr-20);
                font-size: 1.5rem;
                border: 1px solid var(--clr-40);
                border-radius: var(--border-radius);
                background-color: var(--clr-30);
                box-shadow: var(--shadow-00);
                z-index: 5;
                transition: all 0.3s ease;
    
                svg, path {
                    cursor: pointer;
                }
                &:hover {
                    background-color: var(--clr-50);
                    box-shadow: none;
                    transform: scale(0.9);
                }
            }
        }

        #description-aboutMe {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            padding: 2rem;
            opacity: 0;
            transition: opacity 1s ease;
            
            .paragrahp {
                opacity: 0;
                transform: translateX(45rem);
                animation: 0.6s forwards;
                margin-bottom: var(--space-between-element);
                color: var(--clr-80);
                font-size: 1.3rem;
            }
            
            .paragrahp:nth-child(1) {
                animation-delay: 0s;
            }
            .paragrahp:nth-child(2) {
                animation-delay: 0.2s;
            }
            .paragrahp:nth-child(3) {
                animation-delay: 0.4s;
            }
        }
    }
}

@keyframes showText {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    #about {
        flex-direction: column;
        justify-content: space-between;

        figure{
            width: 100%;
            height: 40%;
        }

        .about-content {
            position: initial;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 60%;
            padding-top: 1rem;

            .title {
                position: initial;
                width: 100%;
                height: 20%;
                text-align: center;
                
                h2 {
                    font-size: 1.3rem;
                    font-weight: 400;
                }
                button {
                    display: none;
                }
            }
            
            #description-aboutMe {
                position: initial;
                width: 100%;
                height: 80%;
                margin-bottom: 2rem;
                padding: 1rem;
                opacity: 1;
                
                .paragrahp {
                    opacity: 1;
                    font-size: 0.9rem;
                    transform: translateX(0);
                }
                .paragrahp:nth-child(3) {
                    display: none;
                }
            }
        }
    }
}