#feedback {

    .tittle {
        padding: var(--large-padding);
    }

    .content-testimonial {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 0rem var(--large-padding);
        background-color: var(--clr-30);
        border-radius: var(--border-radius);

        .box {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-around;
            align-items: center;

            .testimonial {
                margin: 0 var(--space-between-element);
                padding: var(--padding-containers);

                img {
                    width: 100%;
                    height: 100%;
                    width: 11.5rem;
                    height: 14.75rem;
                    object-fit: cover;
                    background: aqua;
                    transform-origin: bottom left;
                    transform: scale(1);
                    transition: transform .4s ease;
                }
                img:hover {
                    transform: scale(0.9);
                }
            }
        }
    }
}


@media (max-width: 768px) {
    #feedback {
        & .content-testimonial {
            & .box {
                & .testimonial {
                    img {
                        width: 10.5rem;
                        height: 5.75rem;
                    }
                }
            }
        }
    }
}