#contact {
    width: 85%;
    height: auto;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--clr-30);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-00);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--clr-90);
    font-family: var(--font-family);

    .contact-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;

        .contact-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            h3 {
                margin-bottom: 1rem;
                font-family: var(--font-family-title);
                font-size: 1.5rem;
            }

            .social-icons {
                display: flex;
                gap: 1rem;
                margin-bottom: 1rem;

                a {
                    width: 30px;
                    height: 30px;

                    svg {
                        fill: var(--clr-90);
                    }
                }
            }

            .pages-list {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    margin-bottom: 0.5rem;

                    a {
                        text-decoration: none;
                        color: var(--clr-90);
                        font-family: var(--font-family);
                        font-size: 1rem;
                    }
                }
            }

            p a {
                text-decoration: none;
                color: var(--clr-90);
                font-size: 1rem;
            }

            a,
            svg,
            path {
                cursor: pointer;
                width: 2rem;
                height: 2rem;
            }
        }

    }

    .copy {
        margin-top: 1rem;
        text-align: center;
        font-size: 0.875rem;
        color: var(--clr-70);
    }
}

@media (max-width: 768px) {
    #contact {
        width: 90%;
        margin-bottom: 1rem;

        .contact-container {
            flex-direction: column;
            align-items: center;

            .contact-item {
                margin-bottom: 1rem;

                h3 {
                    font-size: 1.25rem;
                }

                .pages-list {
                    li:nth-child(3) {
                        display: none;
                    }
                }
            }
        }
    }
}