body {

    .header-mobile,
    #menu-mobile {
        display: none;
    }

    .header-desktop {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        padding: var(--padding-containers);
        font-family: var(--font-family);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(1rem);

        nav {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .name-icon a {
                color: var(--clr-50);
                cursor: pointer;
                transition: all .1s;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 3rem;
                }
            }

            .name-icon a:hover {
                color: var(--clr-30);
            }
        }

        ul {
            display: flex;
            gap: 1rem;

            li {
                transition: all .1s;
                color: var(--clr-50);
                font-weight: bold;
                text-transform: uppercase;
            }

            li:hover {
                color: var(--clr-30);
            }
        }

        ul,
   
        li,
        a {
            cursor: pointer;
        }
    }
}

@media (max-width: 768px) {
    body {

        .header-desktop,
        .cta-box {
            display: none;
        }

        .header-mobile {
            position: fixed;
            top: 0;
            height: 5vh;
            width: 100dvw;
            padding: 2rem 1rem;
            z-index: 1000;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            backdrop-filter: blur(0.3rem);
            -webkit-backdrop-filter: blur(0.3rem);
            background-color: var(--bg-mobile-menu);

            .name-icon {
                display: flex;
                align-items: center;
                font-size: large;
                color: var(--clr-20);

                img {
                    width: 3rem;
                }
            }

            /* Button Menu */
            #open-menu {
                opacity: 1;
                display: flex;
                align-items: center;
                transition: opacity .3s;

                svg {
                    width: 2.5rem;
                    height: 2.5rem;
                    fill: var(--clr-20);
                    background-color: var(--clr-80);
                }
            }
        }

        /* Menu */
        #menu-mobile {
            position: fixed;
            top: 0;
            left: 0;
            transform: translateX(-110%);
            width: 25vh;
            height: 100dvh;
            background-color: var(--bg-mobile-menu);
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 1000;
            -webkit-backdrop-filter: blur(0.5rem);
            backdrop-filter: blur(0.5rem);
            transition: transform 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);

            #close-menu {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding-top: 1rem;
                opacity: 1;
                transition: opacity .3s;

                div {
                    color: var(--clr-20);
                }

                svg {
                    width: 2.5rem;
                    height: 2.5rem;
                    fill: var(--clr-20);
                    background-color: var(--clr-80);
                }
            }

            ul {
                width: 100%;
                border-bottom: solid 2px var(--clr-20);
                margin-bottom: 1rem;

                li {
                    margin: 2rem;
                    color: var(--clr-30);
                }
            }

            .social-media-icons {
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    width: 30px;
                    height: 30px;
                    margin: 0 0.5rem;

                    svg {
                        fill: var(--clr-30);
                    }
                }
            }
        }
    }
}