#home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--text-color-home);
    font-family: var(--font-family-tittle);
    height: 100vh;
    width: 100%;
    margin-bottom: calc(var(--large-padding)+1rem);

    #portada-home {
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        position: absolute;
        background-image: url(../assets/img/bg-desktop/bg-pc-2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        #portafolio-mobile {
            display: none;
        }
    }

    .header-desktop {
        width: 100%;
        padding: var(--padding-containers);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;

        nav {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .name-icon a {
                cursor: pointer;
                transition: all .1s;
            }

            .name-icon a:hover {
                color: var(--clr-60);
            }
        }

        ul {
            display: flex;
            gap: 1rem;

            li {
                transition: all .1s;
                transform: scale(1);
            }

            li:hover {
                color: var(--clr-60);
                transform: scale(1.1);
            }
        }

        ul,
        li,
        a {
            cursor: pointer;
        }
    }

    .header-mobile {
        display: none;
    }

    #menu-mobile {
        display: none;
    }

    .presentation {
        height: 80%;
        margin: 3rem;
        padding: var(--padding-containers);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .name {
            h1 {
                font-size: var(--font-size-tittle);
            }

            p {
                font-size: var(--font-size-profetion);
            }

        }

        .cta-box {

            #cta {
                padding: 1rem;
                background-color: var(--clr-20);
                border-radius: var(--border-radius);
                font-size: var(--font-size-profetion);
                color: var(--clr-90);
                cursor: pointer;
                transition: all .2s;
            }

            #cta:hover {
                background-color: var(--clr-50);
            }
        }
    }
}

@media (max-width: 768px) {
    #home {
        align-items: center;
        padding-top: 0;
        position: relative;

        #portada-home {
            background-image: url(../assets/img/bg-mobile/bg-mo-1.webp);

            #portafolio-mobile {
                width: 100vw;
                height: 100dvh;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(0 0 0 / 80%);

                .photos {
                    display: grid;
                    grid-template-areas:
                        'name name'
                        'small-1 small-2'
                        'large-1 large-1'
                    ;
                    gap: 1rem;

                    .name {
                        grid-area: name;
                        text-align: center;
                    }

                    figure:nth-child(2) {
                        grid-area: small-1;
                    }

                    figure:nth-child(3) {
                        grid-area: small-2;
                    }

                    figure:nth-child(4) {
                        grid-area: large-1;
                    }

                    figure {
                        position: relative;

                        img {
                            flex: 1;
                            object-fit: cover;
                            width: 100%;
                        }

                        figcaption {
                            position: absolute;
                            bottom: 1.5rem;
                            left: 1rem;
                            border: solid 1px var(--clr-20);
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            animation: bounce 2s infinite;

                            svg {
                                fill: var(--clr-20);
                            }
                        }
                    }
                }
            }
        }

        .header-desktop,
        .cta-box {
            display: none;
        }

        .header-mobile {
            position: fixed;
            top: 0;
            height: 5vh;
            width: 100%;
            z-index: 1000;
            width: 100vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--bg-mobile-menu);

            .name-icon {
                display: flex;
                align-items: center;
                margin-left: 1rem;
            }

            /* Menu Mobile */
            #button-menu {
                width: 4rem;
                height: 3rem;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 0.3rem;

                span {
                    height: 3px;
                    width: 100%;
                    background-color: var(--clr-20);
                    border: solid 1px var(--clr-20);
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    border-radius: var(--border-radius);
                    transform-origin: center;
                    transition: all .5s ease;
                }
            }
        }

        #menu-mobile {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-105%);
            width: 25vh;
            height: 100dvh;
            background-color: var(--bg-mobile-menu);
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 1000;
            -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
            transition: transform 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);

            ul {
                width: 100%;
                border-bottom: solid 2px var(--clr-20);
                margin-bottom: 1rem;

                li {
                    margin: 2rem;
                }
            }

            .social-media-icons {
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    width: 30px;
                    height: 30px;
                    margin: 0 0.5rem;

                    svg {
                        fill: var(--clr-30);
                    }
                }
            }
        }

        .presentation {
            transition: all .5s;

            .name {
                display: none;
            }
            .cta-box {
                display: none;
            }
        }
    }
    .container-all {

        #portafolio {
            display: none;
        }
        .intro-section {
            height: auto;
        }
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(-25%) rotateZ(45deg);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateY(0) rotateZ(45deg);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}