body {
    font-family: var(--font-family-text);
    letter-spacing: .8px;
    line-height: 1.6;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    background-image: var(--bg-gradient);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-family-tittle);
        font-size: 3rem;
    }
}

.container-all {
    width: 100%;

    .section {
        height: auto;
        width: 100%;
        margin-bottom: 2rem;
        transition: all .8s ease-in-out;
    }

    .fade-enter {
        opacity: 0;
        transform-origin: top;
        transform: scale(0.9);
    }

    .fade-enter-active {
        opacity: 1;
        transform: scale(1);
    }
}