#portafolio {

    .tittle {
        margin-bottom: var(--space-between-element);
    }

    #filter-box {
        display: flex;
        justify-content: center;
        gap: calc(var(--space-between-element)*2);
        margin-bottom: var(--space-between-element);

        .btn-filter {
            background-color: var(--clr-30);
            padding: var(--space-between-element);
            border-radius: var(--border-radius);
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btn-filter:hover {
            background-color: var(--clr-50);
        }
    }

    .portafolio-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(var(--space-between-element)/2);
        height: 100%;

        .slide {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            overflow: hidden;
            width: 9%;
            height: 100%;
            border-radius: var(--border-radius);
            transition: all 1.5s;


            figure {
                /* position: relative; */
                overflow: hidden;
                margin: var(--space-between-element);
                border-radius: var(--border-radius);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                max-width: 100%;
                transition: transform 0.3s ease-in-out;

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    border-radius: var(--border-radius);
                    transition: transform 0.3s ease-in-out;
                }

                .img-vertical {
                    height: 26rem;
                }

                .img-horizontal {
                    width: 16.25rem;
                    aspect-ratio: 1.2;
                }
            }

        }

        .animate {
            animation: expandSlowly 2s forwards;
            border-radius: var(--border-radius);
            align-items: flex-start;
            
            & figure {
                display: flex;
                flex-wrap: wrap;
                gap: calc(var(--space-between-element)/2);

                img:hover {
                    transform: scale(.9);
                    border-radius: var(--border-radius);
                }
            }
        }

        .close-animate {
            animation: collapseSlowly 2s forwards;
        }
    }
}

@keyframes expandSlowly {
    from {
        width: 6%;
    }

    to {
        width: 100%;
    }
}

@keyframes collapseSlowly {
    from {
        width: 100%;
    }

    to {
        width: 6%;
    }
}

@media (max-width: 768px) {
    #portafolio {
        .portafolio-content {
            flex-direction: column;

            .slide {
                width: 100%;
                height: 80px;
                transition: height 2s;

                & figure {
                    width: 100%;
                    margin: 10px 0;
                }
                & img {
                    width: 100%;
                }
            }

            .animate {
                animation: expandHeight 2s forwards;
            }

            .close-animate {
                animation: collapseHeight 2s forwards;
            }
        }
    }
}


@keyframes expandHeight {
    from {
        height: 60px;
    }

    to {
        height: 500px;
    }
}

@keyframes collapseHeight {
    from {
        height: 500px;
    }

    to {
        height: 60px;
    }
}