#portafolio {

    .tittle {
        margin-bottom: var(--space-between-element);
    }

    #filter-box {
        display: flex;
        justify-content: center;
        gap: calc(var(--space-between-element)*2);
        margin-bottom: var(--space-between-element);

        .btn-filter {
            background-color: var(--color-300);
            padding: var(--space-between-element);
            border-radius: var(--border-radius);
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btn-filter:hover {
            background-color: var(--color-500);
        }
    }

    .portafolio-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--large-padding);

        .slide {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            width: 10%;
            border-radius: var(--border-radius);
            transition: width 2s;

            .img-portafolio {
                object-fit: cover;
            }

            .img-vertical {
                height: 26rem;
            }

            figure {
                display: flex;
                flex-direction: column;
                gap: var(--space-between-element);

                .img-horizontal {
                    width: 16.25rem;
                    aspect-ratio: 1.3;
                }
            }

            .btn-type-photo {
                position: absolute;
                background-color: var(--bg-color-web);
                cursor: pointer;
            }
        }

        .animate {
            animation: expandSlowly 2s forwards;
            gap: var(--space-between-element);
            border-radius: var(--border-radius);
        }

        .close-animate {
            animation: collapseSlowly 2s forwards;
        }
    }
}

@keyframes expandSlowly {
    from {
        width: 10%;
    }

    to {
        width: 100%;
    }
}

@keyframes collapseSlowly {
    from {
        width: 100%;
    }

    to {
        width: 10%;
    }
}

@media (max-width: 768px) {
    #portafolio {
        .portafolio-content {
            flex-direction: column;

            .slide {
                width: 100%;
                height: 80px;
                transition: height 2s;
            }

            .animate {
                animation: expandHeight 2s forwards;
            }

            .close-animate {
                animation: collapseHeight 2s forwards;
            }
        }
    }
}

@keyframes expandHeight {
    from {
        height: 80px;
    }

    to {
        height: 500px;
    }
}

@keyframes collapseHeight {
    from {
        height: 500px;
    }

    to {
        height: 80px;
    }
}