:root {
    --clr-00: #f7f4ef;
    --clr-10: #ece3d5;
    --clr-20: #dac8ae;
    --clr-30: #c4a480;
    --clr-40: #b2875d;
    --clr-50: #9e714c;
    --clr-60: #8c5d42;
    --clr-70: #714737;
    --clr-80: #4b312a;
    --clr-90: #3b2521;
    --clr-100: #321918;

    --bg-1: #100909;
    --bg-2: #0a0606;
    --bg-transparent-color: rgba(24, 11, 7, 0.7);
    --url-bg-img-section: url(../assets/img/retrato/retrato-group-4/retrato-03.jpg);
    --bg-gradient: linear-gradient(180deg, var(--clr-80), var(--clr-60), var(--clr-50));
    --bg-second: linear-gradient(180deg, var(--clr-80), var(--clr-90));
    --shadow-00: 0px 0px 10px rgba(0, 0, 0, 0.5);

    /* general style */
    --font-family: "Poppins", serif;
    --font-optical-sizing: auto;
    --font-weight: weight;
    --font-style: normal;

    --font-size-first: 5vw;
    --font-size-second: 3vw;
    --font-size-third: 2vw;
    --padding-containers: 1rem;
    --large-padding: 4rem;
    --space-between-element: 1rem;
    --border-radius: .5rem;

    /* home */
    --text-color-home: var(--clr-10);

    /* call to action button */
    --cta-bg: var(--clr-10);
    --cta-color: var(--clr-90);

    /* mobile menu */
    --bg-mobile-menu: rgba(101, 68, 34, 0.866);
}
*,
*::before,
*::after,
*:focus {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    vertical-align: baseline;
    text-decoration: none;
    color: inherit;
    cursor: auto;
    border: none;
    outline: none;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}