:root {
    /* colors */
    /*chateau-green:*/
    /* --clr-00: #f0fdf4;
    --clr-10: #dbfde8;
    --clr-20: #b9f9d0;
    --clr-30: #82f3ad;
    --clr-40: #44e480;
    --clr-50: #1ccb5f;
    --clr-60: #10a248;
    --clr-70: #11843e;
    --clr-80: #136834;
    --clr-90: #12552e;
    --clr-100: #033017;  */

    --clr-00: #f7f4ef; 
    --clr-10: #ece3d5; 
    --clr-20: #dac8ae; 
    --clr-30: #c4a480; 
    --clr-40: #b2875d; 
    --clr-50: #9e714c; 
    --clr-60: #8c5d42; 
    --clr-70: #714737; 
    --clr-80: #603d33; 
    --clr-90: #533630; 
    --clr-100: #2f1b19;

    /* general style */
    --bg-color-web: var(--clr-00);
    --font-family: ;
    --font-size-tittle: 5vw;
    --font-size-profetion: 2vw;
    --padding-containers: 1rem;
    --large-padding: 4rem;
    --space-between-element: 1rem;
    --border-radius: .5rem;

    /* home */
    --text-color-home: var(--clr-10);

    /* call to action button */
    --cta-bg: var(--clr-10);
    --cta-color: var(--clr-90);

    /* mobile menu */
    --bg-mobile-menu: rgb(130 243 173 / 33%);
    --bg-mobile-nav: transparent;
}

*,
*::before,
*::after,
*:focus {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    vertical-align: baseline;
    text-decoration: none;
    color: inherit;
    cursor: auto;
    border: none;
    outline: none;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    letter-spacing: .8px;
    line-height: 1.6;
    overflow-x: hidden;
    position: relative;
}

.container-all {
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color-web);
    
    .section {
        height: 100vh;
        width: 100%;
        margin-bottom: 4rem;
        padding: var(--padding-containers);
        transition: all .8s ease-in-out;
    }

    .fade-enter {
        opacity: 0;
    }
    .fade-enter-active {
        opacity: 1;
    }
}
